/* Header Panel global style
-------------------------------------------------- */
.ct_searchIcon {
  width: 26px;
  height: 26px;
  background: url(img/black_search_icon.png);
  background-size: 26px 26px;
  display: inline-block;
  vertical-align: middle;
}
.ct_chatIcon {
  width: 26px;
  height: 26px;
  background: url(img/black_chat_icon.png);
  background-size: 26px 26px;
  display: inline-block;
  vertical-align: middle;
}
.ct_loggedIcon {
  position: absolute;
  background: #eee;
  height: 32px;
  width: 32px;
  top: 9px;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  background: url(img/member-profile-avatar_140x140.png);
  background-size: 32px 32px;
}
.ct_loggedIcon_dropdown {
  display: inline-block;
  vertical-align: middle;
  background: #eee;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: url(img/member-profile-avatar_140x140.png);
  background-size: 32px 32px;
}
.ct_profileName {
  display: block;
  padding-left: 27px;
}
.ct_nav_dropdown_item_icon {
  margin-right: 10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.ct_nav_dropdown_item_icon.sprite_sunny_common_tatca_new {
  background: url(img/sunny_common.png) no-repeat -807px -24px;
}
.ct_nav_dropdown_item_icon.sprite_sunny_common_info_new {
  background: url(img/sunny_common.png) no-repeat -759px -24px;
}
.ct_nav_dropdown_item_icon.sprite_sunny_common_transaction_history {
  background: url(img/sunny_common.png) no-repeat -805px -2px;
}
.ct_nav_dropdown_item_icon.sprite_sunny_common_logout_new {
  background: url(img/sunny_common.png) no-repeat -781px -2px;
}
/* Header Panel global style --end
-------------------------------------------------- */
/* Logo style --end
-------------------------------------------------- */
.ct_logo_main_large {
  background: url(img/logo.png) no-repeat;
  background-size: auto 50px;
  width: 195px;
  height: 50px;
}
.ct_logo_main_small {
  background: url(img/logo.png) no-repeat;
  background-size: 142px 36px;
  height: 36px;
  width: 142px;
  margin-top: 5px;
}
/* Logo style --end
-------------------------------------------------- */
