.headerPanel {
  height: 100%;
}
.headerPanel nav :global(.fa) {
  font-size: 2em;
  line-height: 20px;
}
.headerPanel .img-responsive.visible-xs-block {
  margin-top: 10px;
}
.appContent {
  margin: -5px 0;
  height: auto;
  position: relative;
}
